.form{
    background-color: #b9f3b9;
    height: 300px;
    width: 40%;
    margin: 50px 80px;
    border-radius: 20px;
    /* display: inline-grid; */
    float: left;
    position: relative;
}
.toDo{
    /* display: inline-grid;
    width: 90%; */
    /* height: 300px; */
    /* margin: 0 0 0 45px; */
    /* width: 400px; */
    position: absolute;
    /* justify-content: center; */
    width: 100%;
    text-align: center;
    height: 100%;
    display: inline-grid;
}
h2{
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
label{
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
input{
    margin: 4px 0;
    height: 25px;
    width: 90%;
    cursor: pointer;
}
.submit{
    width: 80px;
    height: 35px;
    color: #fefeff;
    background-color: #538d9e;
    border: none;
    float: right;
}